

#cta {
    margin-right: 90px; /* Espaço entre o conteúdo à esquerda e o slider */
}

#banner {
    flex: 1; /* Faz o slider ocupar o espaço restante */
 
    display: flex;
    align-items: center;
    padding: 0 20px; /* Adiciona espaçamento interno ao contêiner */
}

/* Se necessário, ajuste o layout do slider */
.slider {
    width: 100%;
}
